$toolbar-height: 45px;
$toolbar-scroll-height: 80px;

//Color variables
$open-black: #222222;
$open-black-2: #000000;
$open-black-light: #333333;
$open-grey: #707070;
$open-grey-2: #777777;
$open-grey-light: #999999;
$open-hover-purple: #4a2671;
$open-purple-color: #663399;
$open-purple-color-light: #9F62C9;
$open-white: #ffffff;
$open-shadow-black: #00000033;
$open-shadow-black-2: #0000000F;
$open-shadow-deeper-blue: #2321321F;

//Font sizes
$font-size-xxs: 12px;
$font-size-xs: 14px;
$font-size-xs2: 15px;
$font-size-s: 16px;
$font-size-regular: 18px;
$font-size-m: 25px;
$font-size-xxlarge: 40px;