$toolbar-height: 45px;
$toolbar-scroll-height: 80px;

//Color variables
$open-black: #222222;
$open-purple-color: #663399;
$open-purple-color-light: #9F62C9;
$open-white: #ffffff;
$open-shadow-black: #00000033;

//Font sizes
$font-size-xxlarge: 40px;