@import './../../../variable.scss';

.slider {
  margin: 30px 60px;

  .amount-header {
    color: $open-black;
    font-size: $font-size-xs2;
    font-family: Montserrat;
    margin: 0;
  }

  .amount {
    color: $open-black;
    font-size: $font-size-m;
    font-family: Montserrat;
    margin: 0;
    font-weight: 600;
  }

  mat-slider {
    width: 100%;
    margin-top: -10px;
  }

  .slider-labels {
    margin-top: -10px;

    span {
      color: $open-grey-light;
      font-size: $font-size-xxs;
      font-family: Montserrat;

      &.start {
        float: left;
      }

      &.end {
        float: right;
      }
    }
  }
}