<small-blob></small-blob>
<big-blob></big-blob>
<mat-toolbar id="toolbar">
  <div class="logo">
    <img src="assets/images/logo.png">
  </div>
  <div class="nav-button-group">
      <div *ngFor="let menuItem of menuItems" class="text-only-button">{{menuItem}}</div>
      <div *ngFor="let buttonItem of buttonItems" class="button-with-border" [ngClass]="{'clear': buttonItem.property == 'clear', 'gradient': buttonItem.property == 'gradient'}">
        <span>{{buttonItem.name}}</span>
      </div>
  </div>
</mat-toolbar>
<accounting-dot [position]="'mid'"></accounting-dot>
<accounting-dot [position]="'right'"></accounting-dot>
<super-text-box [message]="'We make it Super Simple'" [position]="'left'"></super-text-box>
<div class="separator-bold"></div>
<image-box [imageSource]="'assets/images/collect_img-video.png'" [position]="{ top: '466px', left: '136px' }"></image-box>
<div class="wave"></div>

<info-cards *ngFor="let infoCard of infoCardData"
    [position]="infoCard.position"
    [imageSource]="infoCard.imageSource"
    [header]="infoCard.header"
    [body]="infoCard.body">
</info-cards>
<!-- <info-cards [position]="{ top: '1261px', left: '630px' }" [imageSource]="'assets/images/freelancer_feature_icon_6@1.5x.png'" [header]="'Ace your business finances'" [body]="'Manage banking, accounting & everything in between, on one platform'"></info-cards>
<info-cards [position]="{ top: '1450px', left: '191px' }" [imageSource]="'assets/images/Lowinterestrate.png'" [header]="'Low-interest rate'" [body]="'Achieve your financial goals with an amazing interest rate starting at 13% per annum'"></info-cards>
<info-cards [position]="{ top: '1593px', left: '630px' }" [imageSource]="'assets/images/Covid.png'" [header]="'Loans to fight COVID-19'" [body]="'Zero EMI for first 3 months on Back-to-Business loans of upto 1 lakh'"></info-cards>
<info-cards [position]="{ top: '1786px', left: '191px' }" [imageSource]="'assets/images/SecurePayments.png'" [header]="'Zero Paperwork'" [body]="'Get started instantly by submitting only your basic details & bank statements'"></info-cards> -->
