<small-blob></small-blob>

<big-blob></big-blob>

<section>
  <mat-toolbar id="toolbar">

    <div class="logo">
      <img src="assets/images/logo.png">
    </div>

    <div class="nav-button-group">

      <div *ngFor="let menuItem of menuItems" class="text-only-button">
        {{menuItem}}
      </div>

      <div *ngFor="let buttonItem of buttonItems" class="button-with-border"
        [ngClass]="{'clear': buttonItem.property == 'clear', 'gradient': buttonItem.property == 'gradient'}">
        <span>{{buttonItem.name}}</span>
      </div>

    </div>

  </mat-toolbar>
</section>

<section>
  <accounting-dot [position]="'mid'"></accounting-dot>

  <accounting-dot [position]="'right'"></accounting-dot>

  <super-text-box [message]="productData.textBoxValues[0]" [position]="'left'">
  </super-text-box>

  <div class="separator-bold"></div>

  <image-box [imageSource]="'assets/images/collect_img-video.png'" [position]="{ top: '466px', left: '136px' }">
  </image-box>

  <div class="eligibility-box">
    <div class="calculator">
      <h4 class="calculator-header">{{eligibilityData.header}}</h4>
      <div *ngFor="let sliderItem of eligibilityData.sliderProperties" class="slider-container">
        <amount-slider [sliderHeader]="sliderItem.header" [sliderMinValue]="sliderItem.minValue"
          [sliderMaxValue]="sliderItem.maxValue" [showSliderLabels]="sliderItem.showLabel"></amount-slider>
      </div>
      <div class="select-box">
        <h4 class="header">{{eligibilityData.selectBox.header}}</h4>
        <mat-form-field>
          <mat-select [(value)]="selected">
            <mat-option *ngFor="let emiSelect of emiSelectValue" value="{{emiSelect.value}}">
              {{emiSelect.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="slide-toggle">
        <h4 class="header">
          {{eligibilityData.slideToggleMessage}}
          <span>
            <mat-slide-toggle [disableRipple]="true"></mat-slide-toggle>
          </span>
        </h4>
      </div>
      <div class="slide-toggle">
        <h4 class="header">{{eligibilityData.emiExistingLoan}}</h4>
        <input (keydown)="onKeyDown($event)" matInput placeholder="{{'0' | currency:'INR': 'symbol':'1.0-2'}}">
      </div>
    </div>
    <div class="loan-amount">
      <div class="container">
        <h4>
          {{productData.loanCalculationTopic[0]}}
        </h4>
        <h4 class="amount">
          {{'100000' | currency:'INR': 'symbol':'1.0-2'}}
        </h4>
      </div>
      <div class="container">
        <h4>
          {{productData.loanCalculationTopic[1]}}
        </h4>
        <h4 class="amount">
          {{'15000' | currency:'INR': 'symbol':'1.0-2'}}
        </h4>
      </div>
      <div class="container">
        <div class="container-button">
          <span>{{productData.topics[0]}}</span>
        </div>
      </div>
    </div>
  </div>
</section>


<section>
  <div class="wave"></div>

  <info-cards *ngFor="let infoCard of infoCardData" [position]="infoCard.position" [imageSource]="infoCard.imageSource"
    [header]="infoCard.header" [body]="infoCard.body">
  </info-cards>

  <div>
    <super-text-box [message]="productData.textBoxValues[1]" [position]="'right'">
    </super-text-box>
  
    <div class="short-separator-bold"></div>
  
    <p class="description">
      {{productData.textBoxValues[2]}}
    </p>
  </div>
  <div class="clear-button">
    <span>{{productData.topics[1]}}</span>
  </div>
</section>
