@import "./../../variable.scss";

@mixin button-constant {
  box-shadow: 0px 0px 20px $open-shadow-black;
  border: 2px solid $open-purple-color;
  border-radius: 24px;
  opacity: 1;
  text-align: center;
  font-size: $font-size-s;
}

@mixin button-gradient-constant {
  background: transparent linear-gradient(90deg, $open-purple-color-light 0%, $open-purple-color 100%) 0% 0% no-repeat padding-box;
  color: $open-white;
  border: none;
}

mat-toolbar {
  background: transparent;
  margin-top: 30px;
  position: fixed;
  transition: 0.2s;
  z-index: 1;

  &.scrolled-toolbar {
    margin-top: 0;
    height: $toolbar-scroll-height;
    background: $open-white;

    .logo img {
      height: $toolbar-scroll-height;
    }
  }

  .logo {
    position: absolute;
    left: 120px;
  }

  .nav-button-group {
    position: absolute;
    right: 120px;
    height: $toolbar-height;

    div {
      text-align: left;
      font: normal normal normal 25px/34px Open Sans;
      font-size: $font-size-m;
      letter-spacing: 0px;
      color: $open-black;
      opacity: 1;
      margin: 0 25px;
      cursor: pointer;
      float: left;
      line-height: $toolbar-height;

      &.text-only-button {
        background: transparent;
        border: 0;

        &:hover {
          color: $open-purple-color;
        }
      }

      &.button-with-border {
        @include button-constant();

        &.clear {
          height: 41px;
        }

        &.gradient {
          @include button-gradient-constant();
        }

        span {
          margin: 12px 36px;
        }

        &:hover {
          background: $open-purple-color;
          color: $open-white;
        }
      }
    }
  }
}

.separator-bold {
  background: $open-black-2 0% 0% no-repeat padding-box;
  border-radius: 13px;
  opacity: 0.7;
  top: 376px;
  left: 192px;
  width: 236px;
  height: 8px;
  position: absolute;
}

.short-separator-bold {
  top: 1528px;
  left: 1158px;
  width: 120px;
  height: 0px;
  position: absolute;
  border: 6px solid $open-grey;
  opacity: 1;
  border-radius: 10px;
}

.wave {
  background: transparent url('./../../../assets/images/sol_wave_bg.svg') 0% 0% no-repeat padding-box;
  opacity: 1;
  top: 1209px;
  left: 0.0001220703125px;
  width: 1920px;
  height: 936px;
  position: relative;
}

.eligibility-box {
  top: 270px;
  left: 1100px;
  width: 688px;
  height: 675px;
  position: absolute;

  .calculator {
    background: $open-white 0% 0% no-repeat padding-box;
    box-shadow: 0px 0px 30px $open-shadow-black-2;
    border-radius: 20px;
    width: 470px;
    height: 666px;
    position: absolute;

    .calculator-header {
      text-align: center;
      margin: 15px;
      font-size: $font-size-m;
      font-family: 'Open Sans';
    }
  }

  .loan-amount {
    float: right;
    width: 30%;
    position: relative;
    background-color: $open-white;
    width: 209px;
    height: 450px;
    top: 100px;
    padding: 35px 0;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    background: transparent url('./../../../assets/images/purplewave.png') 0% 0% no-repeat padding-box;
    background-size: contain;

    .container {
      margin-top: 60px;

      h4 {
        text-align: center;
        letter-spacing: 0px;
        color: $open-white;
        opacity: 0.7;
        font-size: $font-size-regular;
        line-height: 22px;
        font-family: Montserrat;
        margin: 0;

        &.amount {
          opacity: 1;
          font-size: $font-size-m;
          font-weight: 500;
          line-height: 30px;
        }
      }

      .container-button {
        @include button-constant();
        width: 160px;
        height: 48px;
        margin: auto 22px;
        font-family: Montserrat;
        font-size: $font-size-xs;
        background-color: $open-white;
        color: $open-purple-color;
        font-weight: 500;
        text-transform: uppercase;
        cursor: pointer;

        span {
          line-height: 47px;
        }

        &:hover {
          background-color: $open-hover-purple;
          color: $open-white;
        }
      }
    }
  }

  .slider-container {
    padding-top: 20px;
  }

  .select-box,
  .slide-toggle {
    margin: 30px 60px;

    .header {
      color: $open-black;
      font-size: $font-size-xs2;
      font-family: Montserrat;
      margin: 0;

      span mat-slide-toggle {
        float: right;
      }
    }

    input {
      font-size: $font-size-m;
      font-family: Montserrat;
      font-weight: 600;
      border-bottom: 1px solid rgb(153 153 153 / 50%);
    }

    mat-form-field {
      width: 100%;
    }
  }
}

.description {
  color: $open-grey-2;
  font-size: $font-size-regular;
  top: 1561px;
  left: 1158px;
  width: 490px;
  height: 44px;
  position: absolute;
  font-family: Montserrat;
}

.clear-button {
  position: absolute;
  top: 1704px;
  left: 1191px;
  text-align: center;
  letter-spacing: 0px;
  color: $open-purple-color;
  opacity: 1;
  font-size: $font-size-regular;
  border: 2px solid $open-purple-color;
  border-radius: 24px;
  width: 279px;
  height: 58px;
  font-family: Montserrat;
  font-weight: 500;
  cursor: pointer;

  span {
    line-height: 55px;
  }

  &:hover {
    background-color: $open-hover-purple;
    color: $open-white;
  }
}
