@import './../../../variable.scss';

@mixin super-text-box-constant {
  position: absolute;
  font-size: $font-size-xxlarge;
  line-height: 49px;
  font-family: Montserrat;
  font-weight: 500;
}

.left-position {
  @include super-text-box-constant();
  top: 270px;
  left: 189px;
  width: 407px;
  height: 98px;
}

.right-position {
  @include super-text-box-constant();
  top: 1377px;
  left: 1158px;
  width: 490px;
  height: 98px;
}
